<div>
  @if (submitted) { 
    @if (isSucess) {
  <div class="alert alert-success" role="alert">
    {{ message }}
  </div>
  } @else {
  <div class="alert alert-danger" role="alert">
    {{ message }}
  </div>
  } }

  <div class="submit-form">
    <div class="form-group">
      <label for="title">Nome*</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        [(ngModel)]="company.name"
        name="title"
      />
    </div>

    <div class="form-group">
      <label for="title">Lingua</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        [(ngModel)]="company.lang"
        name="title"
      />
    </div>

    <div class="form-group">
      <label for="title">Time Zone</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        [(ngModel)]="company.locale"
        name="title"
      />
    </div>
    <div class="row">
      <div class="col-10"></div>
      @if (isUpdateRoute) {
      <div class="col-1">
        <button (click)="updateCompany()" class="btn btn-info">Ataulizar</button>
      </div>
      } @else {
      <div class="col-1">
        <button (click)="saveCompany(); newCompany()" class="btn btn-success">
          Salvar
        </button>
      </div>
      }
      <div class="col-1">
        <a href="company" class="btn btn-light"> Voltar </a>
      </div>
    </div>
  </div>
</div>
