<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">SignZation</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="user" class="nav-link">Usuarios</a>
      </li>
      <li class="nav-item">
        <a href="comapany" class="nav-link">Empresas</a>
      </li>
      <li class="nav-item">
        <a href="document" class="nav-link">Documentos</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>