<div class="container">
  <div class="row">
    <div class="col-11">
        <h1 class="display-1">Empresas</h1>
    </div>
    <div class="col-1">
        <a href="document-create" class="btn btn-outline-success">
            <i class="bi bi-plus-lg"></i>
        </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>           
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Assinado</th>
            <th scope="col">Data limite de assinatura</th>
            <th scope="col">Data criação</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          @for (doc of documents; track doc.id; let i = $index) {
            <tr>
              <th scope="row">{{i+1}}</th>
              <td>{{doc.name}}</td>
              <td>{{doc.signed}}</td>
              <td>{{doc.date_limit_to_sign}}</td>
              <td>{{doc.created_at}}</td>
              <td>
                  <a href="document-update/{{doc.id}}" type="button" class="btn btn-outline-warning m-1"><i class="bi bi-pencil-square"></i></a>
                  
                  <button type="button" class="btn btn-outline-danger m-1" (click)="deleteDocument(doc.id)">
                    <i class="bi bi-trash3-fill"></i>
                  </button>

                  @if(doc.signed){
                    <button  disabled ="button" class="btn btn-outline-gray m-1">
                      <i class="bi bi-pencil"></i>
                    </button>
                  }
                  @else{
                    <button  type="button" class="btn btn-outline-info m-1" (click)="signDocument(doc.id, doc.company, doc.created_by)">
                      <i class="bi bi-pencil"></i>
                    </button>
                  }
              </td>
            </tr>
            }
        </tbody>
      </table>
    </div>
  </div>
</div>